# Environment variables
.env
.env.*

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.sqlite
*.sqlite3

# Binaries and Executables
*.exe
cloudflared-windows-amd64.exe

# Logs and test results
Locust_*.html
*.log

# Editor & OS
.vscode/
.idea/
.DS_Store
